.cabecalho {
    background: #008CBA;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fefefe;
    font-weight: bold;
}

.cabecalho a {
    font-size: 1.2em;
    text-decoration: none;
    color: #fefefe;
    transition: .5s;
}

.cabecalho a:hover {
    font-size: 1.4em;
}